<div class="container" style="margin:1vw 50px 0;">
    <div class="row">
        <div class="col-6 text-left">
                <%= flash[:notice] %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <h5 class="bg-info text-white rounded p-1 mt-5">おすすめ編集</h5>
        </div>
    </div>
</div>

<% form_for(@recommend,url:admins_admin_recommend(@recommend), method: :patch) do |f| %>
    <%= f.label :genre_name,"ジャンル" %>
    <%= f.text_field :genre_name, autocomplete: "名称" %>
    <%= f.label :image %>
    <%= attachment_image_tag(@recommend, :image, accept: 'image/png',:size =>'35x35', id: :img_prev) %>
    <%= f.attachment_field :image %>
    <%= f.label :tooth_paste_name, "製品名" %>
    <%= f.text_field :tooth_paste_name, autocomplete: "名称" %>
    <%= f.label :comment, "コメント" %>
    <%= f.text_field :comment %>
        <span class="text-left">
            <%= f.submit "変更を保存する", class: "btn-primary ml-5",style:"border-radius: 0.3em" %>
            <% end %>