<div class="container" style="margin:1vw 50px 0;">
    <div class="row">
        <div class="col-6 text-left">
                <%= flash[:notice] %>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <h5 class="bg-info text-white rounded p-1 mt-5">adminジャンル一覧・追加</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <%= form_for(@genre,url:admins_genres_path) do |f| %>
            <%= f.label :genre_name, "ジャンル" %>
            <%= f.text_field :genre_name, autocomplete: "off" %>
            <%= f.submit "追加" %>
            <% end %>
    </div>
        <div class="col">
            <% @genres.each do |genre| %>
            <%= genre.genre_name %><br>
            <% end %>
        </div>
    </div>
</div>
