userおすすめ歯磨き粉選択後
コメント記入ページ
  <div class="my_page_box">
    <div class="container">
      <div class="row">
        <div class="col-3">
         <%= attachment_image_tag(@paste, :image, size: '180x180') %><br>
        </div>
        <div class="col-9 row">
            <div class="col-11 offset-1">
                ジャンル:<%= @paste.genre.genre_name %>
            </div>   
            <div class="col-11 offset-1">
                製品名：<%= @paste.tooth_paste_name %>
            </div>
            <div class="col-11 offset-1">
                値段<%= @paste.price %>円
            </div>
        </div>
      </div>
    </div>
  </div>
<%# コメント記入用 %>
<div class="container">
  <div style="margin-left:50px;">
    <%= flash[:notice] %>
  </div>
  <%= form_for(@comment, url:users_user_favorites_path) do |f| %>
    <div class="row text-center m-4">
      <div class="col-12">
        <%= f.text_area :comment, class:"form-control",placeholder:"コメントをここに"%>
        <%= f.hidden_field :paste_id, :value => @paste.id %> 
      </div>
    </div>
    <div class="row m-4">
      <div class="col">
          <%= f.submit "登録する", class:"btn-flat-border" %>
      </div>
    </div>
  </div>
  <% end %> 
</div>