<div class="main-visual">
    <div class="main-visual-content">
        <p class="main-visual-text">
            総合ランキング一覧
        </p>
    </div>
</div>
<section>
    <%= search_form_for(@q,url:users_genre_index_paste_path, method: :get, local:true) do |f| %>
        <h4>
            <%= f.label :genre_name, "ジャンル検索", class:"font-color-gray", style:"margin:30px;" %>
        </h4>
        <div class="genre_container">
            <div class="genre_box">
                <%= f.collection_select :genre_name_eq, @genres, :genre_name, :genre_name,{prompt: ""}, {class: 'form-control ransack-textbox-index'} %>
            </div>
            <div class="genre_box">
                <%= f.submit "検索", class:"btn-flat-border" %>
            </div>
        </div>
        <h5>
            <% if  @genre.present? %>
                ジャンル:<%= @genre[0].genre_name %>
            <% end %>
        </h5>
        </div>
    <% end %>
</section>

<div class="container">
    <div class="row">
    <% @user_favorites.each_with_index do |favorite, i| %>
        <div class="col-3">
            <div class="box_2 m-4">
                <i class="fas fa-crown"></i>
                <%= i + 1 %>位<br>
                <%= attachment_image_tag(favorite[1], :image, size: '150x150') %><br>
                <%= favorite[1].genre.genre_name %><br>
                <%= favorite[0].first %><br>
                <i class="far fa-comment-dots"></i>
                <%= favorite[0].second %><br>
                <%= link_to "詳しく見る", users_paste_path(favorite[1].id), class:"font-color" %>
            </div>
        </div>
    <% end %>
    </div>
</div>

