<div class="main-visual">
<div class="main-visual-content">
    <!-- pタグ（と文字）を追加 -->
    <p class="main-visual-text">
        ランキング一覧
    </p>
    </p>
    <p class="main-visual-name">
        St. Augustine
    </p>
</div>
</div>

 
<%= search_form_for(@q,url:users_pastes_path, method: :get, local:true) do |f| %>
    <h4 class="col-12 mt-2">
        <%= f.label :genre_name, "ジャンル検索", class:"font-color-gray" %>
    </h4>
<div class="row">
    <div class="col-3 mx-3">
        <%= f.collection_select :genre_name_eq, @genres, :genre_name, :genre_name,{prompt: ""}, {class: 'form-control ransack-textbox-index'} %>
    </div>
    <div class="col-2 mt-1">
        <%= f.submit "検索" %>
    </div>
    <h5 class="col-4 mt-2">
        <% if  @genre.present? %>
            ジャンル:<%= @genre[0].genre_name %>
        <% end %>
    </h5>
<% end %>
<%= link_to "総合ランキング", users_pastes_path %>

<div class="container">
    <div class="row">
    <% @user_favorites.each_with_index do |favorite, i| %>
        <div class="col-3">
            <div class="box_2 m-4">
                <%= i + 1 %>位<br>
                <%= attachment_image_tag(favorite[1], :image, size: '150x150') %><br>
                <%= favorite[1].genre.genre_name %><br>
                <%= favorite[0].first %><br>
                <%= favorite[0].second %><br>
                <%= link_to "詳しく見る", users_paste_path(favorite[1].id) %>
            </div>
        </div>
    <% end %>
    </div>
</div>
<div class="container">
    <div class="row">
    <% @user_favorite_genre.each_with_index do |favorite, i| %>
        <div class="col-3">
            <div class="box_2 m-4">
                <%= i + 1 %>位<br>
                <%= attachment_image_tag(favorite[1], :image, size: '150x150') %><br>
                <%= favorite[1].genre.genre_name %><br>
                <%= favorite[0].first %><br>
                <%= favorite[0].second %><br>
                <%= link_to "詳しく見る", users_paste_path(favorite[1].id) %>
            </div>
        </div>
    <% end %>
    </div>
</div>