<div class="main-visual">
  <div class="main-visual-content">
      <!-- pタグ（と文字）を追加 -->
      <p class="main-visual-text font-color-white">
         歯磨き粉詳細ページ<br>

      </p>
      </p>
  </div>
</div>
<div class="wrapper clearfix">
  <div class="my_page_box">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <%= attachment_image_tag(@paste, :image, size: '180x180') %>
        </div>
        <div class="col-9 row">
            <div class="col-11 offset-1">
              ジャンル：<%= @paste.genre.genre_name %>
            </div>   
            <div class="col-11 offset-1">
             製品名：<%= @paste.tooth_paste_name %>
            </div>
            <div class="col-11 offset-1">
             値段:<%= @paste.price %>円
            </div>
        </div>
      </div>
    </div>
  </div>
<h4 class="mx-5">みんなの口コミ</h4>
<% @user_comments.each do |comment| %>
    <div class="tag">
        <div class="icon">
            <%= attachment_image_tag(@paste, :image, size: '100x100') %>
        </div>
        <%= comment.comment %><br>
        <%= comment.user.name %>さん
    </div>
<% end %>
</div>
</div>
