<div class="main-visual">
  <div class="main-visual-content">
      <p class="main-visual-text font-color-white">
         歯磨き粉詳細ページ<br>
      </p>
      </p>
  </div>
</div>

<div class="wrapper clearfix">
  <section>
    <div class="my_page_box">
      <div class="show_box">
        <%= attachment_image_tag(@paste, :image, size: '180x180') %>
      </div>
      <ul>
        <li>
          ジャンル：<%= @paste.genre.genre_name %>
        </li>
        <li>
          製品名：<%= @paste.tooth_paste_name %>
        </li>
        <li>
          値段:<%= @paste.price %>円
        </li>
      </ul>
    </div>
  </section>
  <section>
  <h4 class="mx-5">みんなの口コミ</h4>
    <% @user_comments.each do |comment| %>
      <div class="tag">
        <div class="icon">
          <%= image_tag("125040.png", size: '100x100') %>
        </div>
        <%= comment.comment %><br>
        <%= comment.user.name %>さん
      </div>
    <% end %>
  </section>
</div>