<!DOCTYPE html>
<html>
  <head>
    <title>ToothPaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color:right;">
        <%#= link_to '歯磨き粉'', admins_path, class:"navbar-brand" %>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item mr-4">
              <%= link_to "歯磨き粉登録", new_admins_paste_path, class: "btn text-light", style: "background-color: gray;" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "おすすめ登録", new_admins_admin_recommend_path, class: "btn text-light", style: "background-color: gray;" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "おすすめ一覧", admins_admin_recommends_path,  class: "btn text-light", style: "background-color: gray;" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "ジャンル登録", admins_genres_path, class: "btn text-light", style: "background-color: gray;" %>
            </li>
            <li class="nav-item mr-3">
              <%= link_to "ログアウト", destroy_admin_session_path,method: :delete, class: "btn text-light", style: "background-color: gray;" %>
            </li>
          <% else %>

          <% if user_signed_in? %>
            <ul class="navbar-nav mr-auto">
              <a class="ml-2", style="color:black;">ようこそ、<%= current_user.name%>さん</a>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mr-4">
                <%= link_to "歯について", root_path,class: "btn btn-nav text-light", style: "background-color: gray;" %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to "ランキング", users_pastes_path,class: "btn btn-nav text-light", style: "background-color: gray;" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "マイページ", users_user_favorite_path(current_user.id),class: "btn btn-nav text-light", style: "background-color: gray;"%>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "推す", users_select_user_favorite_path,class: "btn btn-nav text-light", style: "background-color: gray;"%>
              </li>
              <li class="nav-item mr-4">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "btn btn-nav text-light", style: "background-color: gray;"%>
              </li>
            </ul>
            <% else %>
              <ul class="navbar-nav ml-auto">
              <li class="nav-item mr-4">
                <%= link_to "歯について", root_path,class: "btn btn-nav text-light", style: "background-color: gray;" %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to "ランキング", users_pastes_path,class: "btn btn-nav text-light", style: "background-color: gray;" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "新規登録", new_user_registration_path,class: "btn btn-nav text-light", style: "background-color: gray;"%>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ログイン", new_user_session_path,class: "btn btn-nav text-light mr-3", style: "background-color: gray;"%>
              </li>
              </ul>
            <% end %>
          </div>
      </nav>
      <% end %>
      </ul>
    </div>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
