<!DOCTYPE html>
<html>
  <head>
    <title>ToothPaste</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
crossorigin="anonymous">
  </script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>

<header class="header">
  <nav>
    <ul class="nav-list">
      <h2 class="headline">ToothPasteMania</h2>
      <h5 class="flash_message_font"><%= flash[:success] %></h5>
      <% if admin_signed_in? %>
      <li class="nav-list-item">
        <%= link_to "歯磨き粉登録", new_admins_paste_path, class:"font-color" %>
      </li>
      <li class="nav-list-item">
        <%= link_to "おすすめ登録", new_admins_admin_recommend_path, class:"font-color" %>
      </li>
      <li class="nav-list-item">
        <%= link_to "おすすめ一覧", admins_admin_recommends_path, class:"font-color" %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ジャンル登録", admins_genres_path, class:"font-color" %>
      </li>
      <li class="nav-list-item">
        <%= link_to "ログアウト", destroy_admin_session_path,method: :delete, class:"font-color" %>
      </li>
    <% else %>
    <% if user_signed_in? %>
        <li class="user_name">
          ようこそ <%= current_user.name %>さん
        </li>
        <li class="nav-list-item">
          <%= link_to "このサイトについて", root_path, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "ランキング", users_user_favorites_path, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "マイページ", users_user_favorite_path(current_user.id), class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "推す", users_select_user_favorite_path, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "お問合せ", inquiries_new_path, class:"font-color" %>
        </li>
      <% else %>
        <li class="nav-list-item">
          <%= link_to "このサイトについて", root_path, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "ランキング", users_pastes_path, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "新規登録", new_user_registration_path, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "ログイン", new_user_session_path, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to "お問合せ", inquiries_new_path, class:"font-color" %>
        </li>
        <li class="nav-list-item">
          <%= link_to '管理者の方はこちら', new_admin_session_path, class:"font-color"  %>
        </li>
      <% end %>
      <% end %>
    </ul>
  </nav>
</header>
  <%= yield %>
  <footer class="footer">
    <p class="footer-text">© toothpastemania.</p>
  </footer>
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
